*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
body{
   overflow-x: hidden;
}
 /* #crsr{
    width: 2.5vw;
    height: 2.5vw;
   border: 1px solid #f4f2f2de;
    position: fixed;
     z-index: 1; 
    border-radius: 50%;
    mix-blend-mode: difference;
 transform: translate(-50%,-50%);  crsr ko centerko follow krane k liye 
}  */

.mouseFollower{
    border: 2px solid #f6f6f6;
    background-color: #8e8989;
    scale:2;
    mix-blend-mode: difference;
}
#loader{
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    position: fixed;
    padding: 25vh 8vw;
    z-index: 1;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6vw;
}
#line1-part1{
    display: flex;   
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
}
#line1-part1 h5,#line1-part1 h6{
    font-size: 3.4vw;
    font-family: "silk serif";
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
    /* background-color: red; */

}
.line h1{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7vw;
    font-weight: 500;
}
.line h2{
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    animation-duration: 1.4s;
    animation-iteration-count: infinite ;
}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}


#main{
    background-color: rgb(15, 15, 15);
    z-index: 2;
}
#page1{
    width: 100%;
    height: 95vh;
    background-color: rgb(0, 0, 0);
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-weight: 500;
}

.hero{
    width: 70%;
    margin-left: 23%;
    /* transform: translate(-50%, -50%); */
    /* background-color: red; */
    height: fit-content;
    overflow-y: hidden;   
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

}

.hero:nth-child(2){
    margin-top: 22vh;
}
.hero h1{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 6.5vw;
    font-weight: 550;
    position: relative;
}
#hero1 h1::before {
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 20%;
    top: 29%;
}
.hero h2{
    width: fit-content;
    /* background-color: red; */
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 6.5vw;
    font-weight: 550;
    border-bottom: 0.5vw solid #fff;
    margin-bottom: 0.5vw;
    /* transition: all ease 0.2s; */ /* isko lgane se element hi hat jaa rha hai*/
}

#hero3 h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    border-bottom: #ffffff00;
    transition: all ease 0.2s;
}

#page2{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    padding-top: 20vh;
    position: relative;
}
#video-container{
    width: 65vw;
    height:74vh;
    position: relative;
    left: 32%;
    /* background-image: url(https://images.unsplash.com/photo-1504805572947-34fad45aed93?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
}
#video-container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:fill;
    top: 0;
}
#video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
#video-cursor{
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    background-color: #f5aa0a;
    position: absolute;
    z-index: 1;
    top: -12%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-cursor i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: royalblue; */
    /* position: relative; */
    padding: 17vh 0;
}
#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28%;
}
#page3 .underline{
    margin-left: 28%;
    /* margin-right: 1%`; */

}
#page3 h1::before{
    content: "03";
    font-family: "silk serif";
    position: absolute;
    font-weight: 500;
    font-size: 3vw;
    left: -13%;
    top: 8%;
}

#image-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative; 
    margin:1vw;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.img-div{
    height: 28vw;
    width: 22vw;
    /* background-color: blue; */
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 4vw;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
}
.img-div:nth-child(2){
    height: 35vw;
    width: 27vw;
}

.img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.page3-circle1{
    width: 23vw;
    height: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26vh;
    margin-left: 10vw;
}
.page3-circle1 svg{
    height: 30%;
}
.page3-circle2{
    width: 23vw;
    height: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    margin-right: 12vw;
}
.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;
}
.img-div:nth-child(5){
    margin-top: 20vh;
}

.img-div:nth-child(6){
    margin-top: 10vh;
    height: 38vw;
    width: 28vw;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    border-radius: 50%;
    transition: all ease 0.5s;
    transition-delay: 0.2s;
}
.circle-in p{
    color: #000;
    font-size: 1vw;
    width: 60%;
    scale: 0;
    transition: all ease 0.5s;
    transition-delay: 0.5s;
    opacity: 0;
}
.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}
#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: rgb(149, 169, 228); */
    padding: 7vh 0;
}
#page4-content{
    width: 78vw;
    position: relative;
    margin-left: 28%;
}
#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
#page4-content h1::before{
    content: "03";
    font-family: "silk serif";
    position: absolute;
    font-weight: 500;
    font-size: 3vw;
    left: -13%;
    top: 8%;
}
#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
    /* overflow-x: hidden; */
}
#page4-content>p{   /* page4 content k just andar vala p ko denote krega > ye*/
    font-size: 2vw;
    width: 50%;
    margin-bottom: 3vw;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    width: 48%;
}
#page4-flex p{
    font-size: 1vw;
    line-height: 1.7vw;
    width: 20%;
    margin-left: 2vw;
}
#page4-blue-div{
    background-color: rgb(85, 125, 245);
    width: 33vw;
    padding: 1.5vw 2vw;
    position: relative;
    margin-top: -15vw;
    margin-left: 26vw;
}
.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffff8a;
}
.blue-div-elem h4{
    font-size: 1.6vw;
    font-weight: 400;
}
.blue-div-elem p{
    width: 40%;
    font-size: 0.9vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    /* background-color: #392d2d;    */
    position: relative;
}
.elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -3vw;

}
.elem h1{
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    /* background-color: red; */
    animation-name: anima2;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes anima2 {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));

    }
}


.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -3vw;    

}
.elem2 h1{
    font-size: 7vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    /* background-color: red; */
    transform: translate(calc(-100% - 20px));
    animation-name: anima2;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.elem span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}
.elem2 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}

#footer{
    width: 100%;
    height: 90vh;
    /* background-color: red; */
    position: relative;
    padding-left: 28vw;
    padding-right: 4vw;
}
#footer h1{
    font-size: 7vw;
    /* background-color: blue; */
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
}
#footer h1::before{
    content: "04";
    font-family: "silk serif";
    position: absolute;
    font-weight: 500;
    font-size: 3vw;
    left: -13%;
    top: 8%;
}
.underline{
    width: 100%;
    height: 2px;
    background-color: #ffffff90;
    margin: 3vw 0;
}
#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 3vw;
    margin-bottom: 3vw;
}
.box{
    /* background-color: blue; */
    width: 20%;
    margin-bottom: 1vw;
}
#footer-div h6{
    font-size: 1.2vw;
    margin-bottom: 1.8vw;
    font-weight: 500;
}
#footer-div h5{
    font-size: 1.6vw;
    /* margin-bottom: 3vw; */
    font-weight: 500;
    width: 15vw;
}
#footer>h5{
    margin-top: -1.5vw;
    font-weight: 500;
    font-size: 1vw;
}

._canvas_container{
    z-index: 9999 !important;
    pointer-events: none;
}
#flag{
    width: 20vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
}
